# MacOs files
.DS_Store
._*

# Visual Studio files
*.code-workspace
.vscode

# NodeJS
package-lock.json
node_modules/
.env

# Jest Tests
coverage/

# App
data/*
!data/samples/
src/config/env/*
!src/config/env/template.env
!src/config/env/.placeholder
scripts/local_workspace/